.App {
  text-align: center;
}
div input {
  width: 20px;
  margin-right: 5px;
}

.color_green {
  background-color: green;
}
.color_yellow {
  background-color: yellow;
}
.color_grey {
  background-color: grey;
}
